<!doctype html>
<html>

<head>
    <title>Interests Filter</title>
    <script src="static/Chart.bundle.js"></script>
    <script src="static/utils.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</head>

<body>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <!-- <div id="container" style="width: 60%;"><canvas id="canvas1"></canvas></div> -->
    <div id="container" style="width:50%"><canvas id="canvas1"></canvas></div>
    <button id="resetData">Reset Data</button>
    </br>
    <h2>{% for fil in filters %}{{fil}}</br>{% endfor %}</h2>
    <!-- <div id="container" style="width: 60%;"><canvas id="canvas2"></canvas></div> -->
    <div id="container" style="width:50%"><canvas id="canvas2"></canvas></div>
    <script>
        var color = Chart.helpers.color;
        var horizontalBarChartData1 = {
            labels : [{% for item in deps_labels %}"{{item}}",{% endfor %}],
            datasets: [{
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data : [{% for item in deps_values %}{{item}},{% endfor %}]
            }]
        };
        var horizontalBarChartData2 = {
            labels : [{% for item in keys_labels %}"{{item}}",{% endfor %}],
            datasets: [{
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data : [{% for item in keys_values %}{{item}},{% endfor %}]
            }]
        };
        window.onload = function() {
            var ctx = document.getElementById("canvas1").getContext("2d");
            window.myHorizontalBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: horizontalBarChartData1,
                options: {
                    onClick: graphClickEvent,
                    scales: {
                        xAxes: [{
                            // ticks: {suggestedMin: Math.min(0,10),suggestedMax: Math.max(5, 10)}
                            ticks: {suggestedMin: Math.min(0,10),suggestedMax: Math.max(10,0)}
                        }]
                    },
                    responsive: true,
                    legend: {display: false},
                    title: {text: 'Quantidade de Pessoas por Interesse', display: true}
                }
            });
            var ctx2 = document.getElementById("canvas2").getContext("2d");
            window.myHorizontalBar = new Chart(ctx2, {
                type: 'horizontalBar',
                data: horizontalBarChartData2,
                options: {
                    // onClick: graphClickEvent,
                    scales: {
                        xAxes: [{
                            // ticks: {suggestedMin: Math.min(0,10),suggestedMax: Math.max(5, 10)}
                            ticks: {suggestedMin: Math.min(0,10),suggestedMax: Math.max(10,0)}
                        }]
                    },
                    responsive: true,
                    legend: {display: false},
                    title: {text: 'Quantidade de Pessoas por Palavra Chave', display: true}
                }
            });
        };
        function graphClickEvent(event, array){
            if(array[0]){
            $.getJSON($SCRIPT_ROOT + '/_filter_target', {
                dept: array[0]['_view']['label']
              }, function(data) {
                return false;
              });
              window.location.reload();
            } else { console.log(array)}
        };
        document.getElementById('resetData').addEventListener('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_reset_data', {}, function(data) {return false;});
              window.location.reload();
        });
    </script>
</body>

</html>


